
/node_modules

/examples/
/docs/
/test/
/src/

.vscode/
.idea/



/Interior-Design-Web/HELP.md
/Interior-Design-Web/target/
!/Interior-Design-Web/.mvn/wrapper/maven-wrapper.jar
!/Interior-Design-Web/**/src/main/**/target/
!/Interior-Design-Web/**/src/test/**/target/

### STS ###
/Interior-Design-Web/.apt_generated
/Interior-Design-Web/.classpath
/Interior-Design-Web/.factorypath
/Interior-Design-Web/.project
/Interior-Design-Web/.settings
/Interior-Design-Web/.springBeans
/Interior-Design-Web/.sts4-cache

### IntelliJ IDEA ###
/Interior-Design-Web/.idea
/Interior-Design-Web/*.iws
/Interior-Design-Web/*.iml
/Interior-Design-Web/*.ipr

### NetBeans ###
/Interior-Design-Web/nbproject/private/
/Interior-Design-Web/nbbuild/
/Interior-Design-Web/dist/
/Interior-Design-Web/nbdist/
/Interior-Design-Web/.nb-gradle/
/Interior-Design-Web/build/
!/Interior-Design-Web/**/src/main/**/build/
!/Interior-Design-Web/**/src/test/**/build/

### VS Code ###
/Interior-Design-Web/.vscode/
